
terraform-dynamodb/terraform.tfvars
lambda/target/classes/com/bet/TriggerOtpLambda.class
lambda/target/maven-archiver/pom.properties
lambda/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
lambda/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
lambda/target/original-trigger-otp-lambda-1.0.0.jar
lambda/target/trigger-otp-lambda-1.0.0.jar
terraform-dynamodb/.DS_Store
terraform-dynamodb/.terraform.lock.hcl
terraform-dynamodb/.terraform/.DS_Store
terraform-dynamodb/.terraform/providers/registry.terraform.io/hashicorp/aws/6.5.0/darwin_arm64/LICENSE.txt
terraform-dynamodb/.terraform/providers/registry.terraform.io/hashicorp/aws/6.5.0/darwin_arm64/terraform-provider-aws_v6.5.0_x5
.DS_Store
lambda/.DS_Store
lambda/src/.DS_Store
lambda/src/main/.DS_Store
lambda/src/main/java/.DS_Store
lambda/src/main/java/com/.DS_Store
.idea/vcs.xml
.idea/easycode.ignore
.idea/misc.xml
